In [12]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cross_validation import train_test_split

C:\Users\nikita059240\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
iris=sns.load_dataset('iris')
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [9]:
X = iris.drop(['species'], 1)
Y = iris['species']
X.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

In [35]:
Y.head(10)

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
5    setosa
6    setosa
7    setosa
8    setosa
9    setosa
Name: species, dtype: object

In [34]:
train_X, test_X, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state=123)

In [18]:
from sklearn import tree

model = tree.DecisionTreeClassifier(random_state=123)
model
model.fit(train_X,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

In [19]:
y_predict = model.predict(test_X)

from sklearn.metrics import accuracy_score

accuracy_score(test_y, y_predict)

0.9666666666666667

In [37]:
pd.DataFrame(
    confusion_matrix(test_y, y_predict),
    columns=['setosa','virginica','versicolor'],
    index=['setosa', 'virginica','versicolor']
)

            setosa  virginica  versicolor
setosa          13          0           0
virginica        0          6           0
versicolor       0          1          10

In [40]:
pertanyaan=[[5.0,4.0,6.5,2.0]]
y_predict = model.predict(pertanyaan)
y_predict

array(['virginica'], dtype=object)