In [16]:
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd

In [17]:
data=[[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]]

In [18]:
scaler=StandardScaler()
print(scaler.fit(data))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [19]:
print(scaler.mean_)

[5.]

In [20]:
print(scaler.transform(data))

[[-1.58113883]
 [-1.26491106]
 [-0.9486833 ]
 [-0.63245553]
 [-0.31622777]
 [ 0.        ]
 [ 0.31622777]
 [ 0.63245553]
 [ 0.9486833 ]
 [ 1.26491106]
 [ 1.58113883]]

# IMPUTER

In [21]:
from sklearn.preprocessing import Imputer

In [37]:
df=pd.DataFrame([[8000,20],[np.nan,20],[100000,40],[np.nan,40],[110000,40],[7000,40]])
df.columns=['price','target_age']
df

      price  target_age
0    8000.0          20
1       NaN          20
2  100000.0          40
3       NaN          40
4  110000.0          40
5    7000.0          40

In [38]:
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
new_df=pd.DataFrame(imp.fit_transform(df),index=df.index,columns=df.columns)

In [39]:
new_df

      price  target_age
0    8000.0        20.0
1    7000.0        20.0
2  100000.0        40.0
3    7000.0        40.0
4  110000.0        40.0
5    7000.0        40.0

In [40]:
from sklearn.pipeline import Pipeline
from sklearn import linear_model

In [41]:
scaler=StandardScaler()
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0) #most_frequent_mean_median
reg=linear_model.LinearRegression()
steps=[('imputation',imp),('scaler',scaler),('model',reg)]
pipeline=Pipeline(steps)

In [42]:
feature_data=df.drop(['target_age'],axis=1)
target_data=df['target_age']

In [43]:
pipeline.fit(feature_data,target_data)

Pipeline(memory=None,
     steps=[('imputation', Imputer(axis=0, copy=True, missing_values='NaN', strategy='most_frequent',
    verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('model', LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False))])