In [1]:
list1=list(range(10))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 1. Slice the list to contain 5th to 10th element

In [2]:
print(list1[4:])

[4, 5, 6, 7, 8, 9]

In [3]:
list2=[["Anne","Tim",2017],["Jimmy","Sarah",2015],["Bella","Allain",2010],["Sam","Naveen",2007]]
list2

[['Anne', 'Tim', 2017],
 ['Jimmy', 'Sarah', 2015],
 ['Bella', 'Allain', 2010],
 ['Sam', 'Naveen', 2007]]

# 2. Create list containing couple names

In [29]:
no2=[row[0:2]for row in list2]
no2

[['Anne', 'Tim'], ['Jimmy', 'Sarah'], ['Bella', 'Allain'], ['Sam', 'Naveen']]

# 3. Create list containing only year of marriage

In [6]:
no3=[row[2]for row in list2]
no3

[2017, 2015, 2010, 2007]

In [7]:
price_usd=[23.5,60.0,25.0,27.5,30,0]
rate=13900
print(price_usd)
print(rate)

[23.5, 60.0, 25.0, 27.5, 30, 0]
13900

# 4. Using lambda, create list contain price in IDR

In [8]:
IDR=[x * rate for x in price_usd]
IDR

[326650.0, 834000.0, 347500.0, 382250.0, 417000, 0]

In [9]:
score=[55,68,44,89,90,78,46,70,45,75]
score

[55, 68, 44, 89, 90, 78, 46, 70, 45, 75]

# 5. Create function to label student passing exam or not

In [10]:
def score_label(score):
    """This is to lable student passing exam"""
    if score<=40:     #pake and kalo misal ada 2 syarat
        label="FAIL"
    elif score<=60:
        label="REMEDI"
    else:
        label="PASS"
    return label

# 6. Check success label of all student

In [11]:
print(list(map(score_label,score)))

['REMEDI', 'PASS', 'REMEDI', 'PASS', 'PASS', 'PASS', 'REMEDI', 'PASS', 'REMEDI', 'PASS']

In [22]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# 8. Show only col W X and row A B

In [16]:
print(df[['W','X']].head(2))

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

In [24]:
print(df.loc[['A','B'],['W','X']])

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

# 9. Show col Z where W>0

In [14]:
print(df[['Z']][df.W>0])

          Z
A  0.503826
B  0.605965
D  0.955057
E  0.683509

# 10.  Show data where Y>0 and B<0

In [25]:
col_b=[df[df.loc[['B']]]<0]
col_y=df[df['Y'>0]]
col_b

ValueError: Must pass DataFrame with boolean values only

# 11. Calculate Average of each column

In [ ]:
df.mean()

# 12. Find Summary statistics of y and Z

In [ ]:
df[['Y','Z']].describe()

# 13. Drop col Z from data frame permanently

In [ ]:
df.drop(['Z'],axis=1)

# 14. Drop row E permanently

In [ ]:
df.drop(['E'],axis=0)

# 15. Add new column with value W+X

In [ ]:
df['Baru']=df['W']+df['X']
df