In [2]:
pnorm(2.5, mean=3, sd=2)

[1] 0.4012937

In [26]:
data <- read.csv("titanic.csv")
head(data)

  Survived Pclass Name                                               Sex    Age
1 0        3      Mr. Owen Harris Braund                             male   22
2 1        1      Mrs. John Bradley (Florence Briggs Thayer) Cumings female 38
3 1        3      Miss. Laina Heikkinen                              female 26
4 1        1      Mrs. Jacques Heath (Lily May Peel) Futrelle        female 35
5 0        3      Mr. William Henry Allen                            male   35
6 0        3      Mr. James Moran                                    male   27
  Siblings.Spouses.Aboard Parents.Children.Aboard Fare
1 1                       0                        7.2500
2 1                       0                       71.2833
3 0                       0                        7.9250
4 1                       0                       53.1000
5 0                       0                        8.0500
6 0                       0                        8.4583

In [33]:
#untuk conversi data
data['Survived'] <- as.character(data['Survived'])
data['Pclass'] <- as.character(data['Pclass'])

In [34]:
summary(data)

   Survived            Pclass                                          Name
 Length:887         Length:887         Capt. Edward Gifford Crosby       :  1
 Class :character   Class :character   Col. John Weir                    :  1
 Mode  :character   Mode  :character   Col. Oberst Alfons Simonius-Blumer:  1
                                       Don. Manuel E Uruchurtu           :  1
                                       Dr. Alfred Pain                   :  1
                                       Dr. Alice (Farnham) Leader        :  1
                                       (Other)                           :881
     Sex           Age        Siblings.Spouses.Aboard Parents.Children.Aboard
 female:314   Min.   : 0.42   Min.   :0.0000          Min.   :0.0000
 male  :573   1st Qu.:20.25   1st Qu.:0.0000          1st Qu.:0.0000
              Median :28.00   Median :0.0000          Median :0.0000
              Mean   :29.47   Mean   :0.5254          Mean   :0.3833
              3rd Qu.:38.00   3rd Qu.:1.0000          3rd Qu.:0.0000
              Max.   :80.00   Max.   :8.0000          Max.   :6.0000

      Fare
 Min.   :  0.000
 1st Qu.:  7.925
 Median : 14.454
 Mean   : 32.305
 3rd Qu.: 31.137
 Max.   :512.329

In [35]:
summary(data['Siblings.Spouses.Aboard'])

 Siblings.Spouses.Aboard
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.5254
 3rd Qu.:1.0000
 Max.   :8.0000